@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 100% 95%;
    --card: 120 100% 90%;
    --primary: 120 100% 10%;
    --secondary: 60 4.8% 95.9%;
    --accent: 120 100% 10%;
    --border: 120 100% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --card: 0 0% 5%;
    --primary: 120 100% 20%;
    --secondary: 60 4.8% 95.9%;
    --accent: 120 100% 20%;
    --border: 120 100% 10%;
  }
}
