/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --BGCOLOR: #333;
  --FONTCOLOR: whitesmoke;
  --BORDERCOLOR: #333;
  --LINKCOLOR: #fff;
  --LINKHOVERCOLOR: #ccc;
  --HIGHLIGHTCOLOR: #fff;
}

/* || GENERAL */
body {
  background-color: var(--BGCOLOR);
  color: var(--FONTCOLOR);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 1.5rem;
}

a {
  color: var(--LINKCOLOR);
  text-decoration: none;
}

a:hover {
  color: var(--LINKHOVERCOLOR);
}

/* || UTILITIES */
.center {
  text-align: center;
}
.nowrap {
  white-space: nowrap;
}

/* || COMPONENTS */

/* NAVBAR */
.navbar {
  background-color: var(--BGCOLOR);
  padding: 1rem;
  border-bottom: 1px solid var(--BORDERCOLOR);
}
.navbar__ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: bold;
}
