@tailwind base;
@tailwind components;
@tailwind utilities;

/* || VARIABLES */

/* LIGHT MODE COLORS */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* DARK MODE COLORS */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* || UTILITIES */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .nowrap {
    white-space: nowrap;
  }
  .center {
    text-align: center;
  }
}

/* || GENERAL LAYOUT */

/* HEADER */
.header__h1 {
  @apply text-3xl;
}

.header__nav {
  @apply flex justify-center items-center bg-slate-800;
}

.header__nav__ul {
  @apply flex gap-4 text-xl;
}

.header__nav__li {
  @apply cursor-pointer hover:text-gray-500;
}

/* MAIN */
.main {
  @apply min-h-screen flex flex-col;
}

.main__h1 {
  @apply text-5xl;
}

.main__h2 {
  @apply text-4xl;
}

.main__p {
  @apply text-3xl;
}

/* FOOTER */
.footer {
  @apply bg-slate-800 text-white p-4;
}

.footer__p {
  @apply text-xl;
}

/* || COMPONENTS */

/* REPOCARD */
.repo-card {
  @apply bg-slate-800 p-4 m-3 rounded-xl;
}

.repo-card__h2 {
  @apply font-bold;
}
